.container {
    display: flex;
    border: 1px solid rgb(50, 149, 179);
    width: 550px;
    height: 90px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-evenly; 
    
}

.container2 {
    display: flex;
    border: 1px solid rgb(50, 149, 179);
    width: 550px;
    height: 90px;
    background: rgb(197, 57, 57);
    align-items: center;
    justify-content: space-evenly; 
}

.item {
    width: 40px;
    height: 40px;
    background: rgb(50, 149, 179);
}

.item2 {
    width: 40px;
    height: 40px;
    background: rgb(100, 47, 100);
}